<div class="leaderboard-box">
    <div class="leaderboard-content" [style.height.px]="tournamentLeaderboard()?.length * this.OFFSET_Y">
        @for (item of tournamentLeaderboard(); track $index){
            <div #tournament class="item content-row" [style.top.px]="item.Order * this.OFFSET_Y"
                 [class.items-opacity]="$index < 3">
                <div class="row-left-items">
                    <span class="order">{{$index + 1}}</span>
                    <span class="place-name">{{item.Name}}</span>
                </div>
                <div class="row-right-items">
                    <span class="points">{{item.Points}} <img src="assets/images/icons/star.png"></span>
                    <div class="bonus">
                        @if (item.Bonus){
                            <span>{{currencyId}} {{item.Bonus}}</span>
                        }
                        @else {
                            <span>0</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>