.item-cell-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  //font-size: var(--account-statement-item-account-font-size, 14px);
  .item-cell-account-img {
    width: var(--account-statement-item-img-width, 22px);
    height: var(--account-statement-item-img-height, 20px);
    display: var(--account-statement-item-img-display, none);
  }
  .item-cell-account-name {
    width: var(--account-statement-item-account-name-width,100%);
    text-align: var(--account-statement-item-account-name-text-align,left);
    margin-left: var(--account-statement-item-account-name-margin-left, 0px);
    word-break: var(--account-statement-item-account-name-word-break, break-word);
    overflow-x: var(--account-statement-item-account-name-overflow-x, hidden);
    text-overflow: var(--account-statement-item-account-name-text-overflow, ellipsis);
  }
  .item-cell-account-balance {
    margin-left: var(--account-statement-item-account-balance-margin-left, 0px);
  }
  .item_cell {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }
  .item-cell-name-hover {
    display: none;
    position: absolute;
    right: var(--item-cell-name-right, 10px);
    top: var(--item-cell-name-top, 40px);
    color: var(--item-cell-name-color, #fff);
    background: var(--item-cell-name-background, #12376C);
    padding: var(--item-cell-name-padding, 5px);
    border-radius: var(--item-cell-name-border-radius, 0px);
    z-index: 1;
  }
  &:hover {
    .item-cell-name-hover {
      display: var(--item-cell-name-hover-display, none);
    }
  }
}
.item-cell-container:hover {
  background: var(--account-statement-item-hover-background, transparent);
}
.selected {
  background: var(--account-statement-item-selected-background, transparent);
}