:host
{
  display: flex;
  justify-content: center;
  position: relative;
  >span{cursor: pointer}
  .timezones-box
  {
    display: none;
    flex-direction: column;
    position: absolute;
    background: var(--timezones-bg, #101824);
    input{flex:1; padding: 5px; border-radius: 5px; border: none; outline: none}
    transform: none;
    top:37px;
    right: 0;
    border-radius: 5px;
    padding: 10px;
    .timezones
    {
      width: 400px;
      overflow-y: auto;
      max-height: 300px;
      flex-direction: column;
      li{
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        >div
        {
          transform: none;
          &:first-of-type
          {
            white-space: nowrap;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  &.opened
  {
    .timezones-box{display: flex}
  }
}