<div class="user-default-section account-page-type2-default recponcive-height">

    <div class="user-default-section_top tab-{{tabType}}">
        <div class="user-left-panel">
            <ul class="user-left-panel_topList">
                <div class="profile-info-details">
                    <div class="user-icon">
                        <span class="icon-user-info"></span>
                    </div>
                    <img src="../../../../../../../assets/images/gender{{(profileService.profileData$ | async)?.Gender}}.png">
                    <div>{{(profileService.profileData$ | async)?.FirstName + ' ' + (profileService.profileData$ | async)?.LastName}}</div>
                    <div class="profile-verified-state"
                         [ngClass]="{'status-1': status === 'not verified',
                    'status-2': status === 'pending',
                    'status-3': status === 'verified'}">
                        <span>{{'User.' + status | translate}}</span>
                    </div>
                </div>
                <div class="user-info">
                    <img class="mobile-account-img" src="../../../../../../../assets/images/user.png" alt="">
                    <div class="user-panel-content">
                        <div class="">{{userData?.UserName}}</div>
                        <div class="user_id">{{'User.User_Id' | translate}}: {{userData?.Id}}</div>
                        <div class="user-panel-balance">
                            {{'User.Balance' | translate}}: {{balance | toNumber | number: '.2'}}{{ currencySymbol ? currencySymbol : currencyId }}
                        </div>
                    </div>
                </div>
                <li
                        *ngFor="let item of menuList" class="user-left-panel_header" collapse (click)="toggleMenu(item, $event)"
                        [ngClass]="{'opened': (currentOpenMenu == item) || (item.SubMenu.includes(currentOpenSubMenu))}">
                    <div class="title_menu" (click)="savedDateService.getItem(item)"
                         [ngClass]="(savedDateService.selectedItem == item) || (item.SubMenu.includes(savedDateService.currentSubItem)) ? 'active' : ''"
                         [routerLink]="'/user/' + (this.configService.defaultOptions.AccountTemplateType == undefined ? '1' : this.configService.defaultOptions.AccountTemplateType) + '/' + item.SubMenu[0].Href">
                        <div>
                            <div class="title_menu_icon" [ngStyle]="{'background-image':'url(../../../../../../../assets/images/account-tabs-list/' + item?.Icon + ')'}"></div>
                            <span>{{'User.' + item?.Title | translate}}</span>
                        </div>
                        <fa-icon class="title_menu-fa-icon" [icon]="faCaretDown" *ngIf="item?.Title !== item?.SubMenu[0].Title"></fa-icon>
                    </div>
                    <ul class="user-left-panel_subList" *ngIf="(currentOpenMenu == item) || (item.SubMenu.includes(currentOpenSubMenu))"
                            [collapse]="true">
                        <div>
                            <li class="user-left-panel_list" *ngFor="let subItem of item?.SubMenu" (click)="onSubMenuClick($event, subItem)">
                                <a class="item_menu" routerLinkActive="active"
                                   *ngIf="subItem.Type != 4" [ngClass]="{'item_menu_active' : router.url.split('/')[3] === subItem.Href}">
                                    <img *ngIf="subItem?.Icon" class="user-left-panel-item-img" src="../../../../../../../assets/images/account-tabs-list/{{subItem?.Icon}}">
                                    <span>{{'User.' + subItem?.Title | translate}}</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="user-right-panel">
            <div class="user-right-panel_top">
                <ul>
                    <li class="user-right-panel_list" *ngFor="let subItem of savedDateService.selectedItem?.SubMenu">
                        <a class="item_menu" routerLinkActive="active"
                           [routerLink]="'/user/' + (this.configService.defaultOptions.AccountTemplateType == undefined ? '1' : this.configService.defaultOptions.AccountTemplateType) + '/' + subItem.Href"
                           *ngIf="subItem.Type != 4">
                            {{'User.' + subItem?.Title | translate}}
                            <div class="selected"></div>
                        </a>

                    </li>
                </ul>
                <div class="user-info">
                    <div class="user-icon">
                        <span class="icon-user-info"></span>
                        <div class="user-info_content">
                            <app-account-page-type2-statement></app-account-page-type2-statement>
                            <div class="selected"></div>
                        </div>
                    </div>
                    <div class="user-info_text">
                        {{'User.User info' | translate}}
                    </div>
                </div>
                <div class="user-right-panel_title" *ngIf="tabType !== 'top'">
                    <ng-container class="user-right-panel-list_title" *ngFor="let data of savedDateService.selectedItem?.SubMenu">
                        <ng-container *ngIf="data?.Href !== '' && router.url.includes(data?.Href)">
                            <img *ngIf="data?.Icon" class="user-right-panel-list-img" src="../../../../../../../assets/images/account-tabs-list/{{data?.Icon}}">
                            <span>{{'User.' + data.Title | translate}}</span>
                        </ng-container>
                    </ng-container>
                </div>
            </div>

            <div class="user-right-panel_content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

