<div class="mobile-map" *ngIf="userLogined.isAuthenticated" [ngStyle]="layoutService.layoutStyle">
        <h2>{{'MR White`s Journey' | translate}}</h2>
        <div class="m-character-hierarchy">
                <div class="m-character-hierarchy-content level{{item.Order}}" *ngFor="let item of selfHierarchy; let i = index"
                     [class.last]="item.Id === lastItem.Id">
                        <div  class="character-level"
                              [class.active]="item.Selected == true"
                              [class.next-levels]="item?.CompPoints > currentCompPoint"
                        >
                                <img *ngIf="item.Id === lastItem.Id" class="level-bg"  src="../assets/images/characters/last-level.png">
                                <img *ngIf="item.Id !== lastItem.Id" class="level-bg" src="../assets/images/characters/level{{item?.Order}}.png">
                                <img class="level-item"  [src]="item?.ImageData">
                                <img *ngIf="item?.CompPoints < currentCompPoint || item?.CompPoints == 0" class="opened-lock lock"  src="../assets/images/characters/opened-lock.svg">
                                <img *ngIf="item?.CompPoints > currentCompPoint" class="closed-lock lock"  src="../assets/images/characters/closed-lock.svg">
                                <div *ngIf="item.Id !== lastItem.Id" class="wrapper"
                                     style="-webkit-mask-image: url('../assets/images/characters/level{{item?.Order}}.png');
                            mask-image: url('../assets/images/characters/level{{item?.Order}}.png')"></div>
                                <div *ngIf="item.Id === lastItem.Id" class="wrapper"
                                     style="-webkit-mask-image: url('../assets/images/characters/last-level.png');
                     mask-image: url('../assets/images/characters/last-level.png')"></div>
                        </div>
                        <div class="info">
                                <div>
                                        <span>{{item.Title | translate}}</span>
                                        <p>{{item.Description | translate}}</p>
                                </div>
                        </div>
                </div>
        </div>
</div>