.modal-content {
  &.register {
    background: color(register-background);
    position:relative;
    &::after
    {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: backgroundColor(modal-content,transparent);
      width: 100%;
      height: height(modal-content, auto);
      z-index: -1;
    }
    //overflow-y: auto;
  }

  .modal_content {
    margin: var(--modal-content-margin, 0 auto);
    //overflow: hidden;
    //overflow-x: hidden;

    h2 {
      margin: 10px 0;
      color: itemColor(login-title, #fff);
    }
  }

  &.login_PSection {
    width: width(modal-login-section, 570px);
    max-height: height(modal-login-section, 400px);
    height: auto;
    min-height: height(min-modal-login-section, 250px);
    border: var(--modal-login-section-border, none);

    .modal_content {
      width: width(modal-login-content, 100%);
    }

    .login_button {
      background: color(login-bg);
      color: color(login-font-color);
    }

    .error_message {
      max-width: 100%;
      white-space: initial;
      text-align: left;
      line-height: var(--error-message-login-line-height, 12px);
      font-size: var(--error-message-login-font-size, 13px);
      top: itemTop(error-message-login, 4px);
    }
  }
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $color-white;
  }

  &.bigSize {
    width: 755px;
    transform: translate(0, 0) !important;
  }

  &.smallSize {
    width: 500px;
  }

  border-radius: 3px;
  //margin: 110px auto;
  padding-top: paddingTop(modal-content, 24px);
  padding-bottom: paddingBottom(modal-content, 24px);
  padding-left: paddingLeft(modal-content, 32px);
  padding-right: paddingRight(modal-content, 32px);

  .modal-body {
    text-align: right;
    color: $font-color;
    cursor: pointer;
    position: static!important;

    .fa {
      color: itemColor(modal_close_icon, #ccc);
      cursor: pointer;
    }



    padding: 0;
    display: initial;
    float: right;

  }

  @media screen and (min-width: 1600px) and (max-width: 1799px)
  {
    &.register_PSection, &.login_PSection {
      zoom:90%;
    }
  }
  @media screen and (min-width: 1500px) and (max-width: 1599px)
  {
    &.register_PSection, &.login_PSection {
      zoom:85%;
    }
  }
  @media screen and (min-width: 1400px) and (max-width: 1499px)
  {
    &.register_PSection, &.login_PSection {
      zoom:80%;
    }
  }
  @media screen and (min-width: 1300px) and (max-width: 1399px)
  {
    &.register_PSection, &.login_PSection {
      zoom:75%;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1299px)
  {
    &.register_PSection, &.login_PSection {
      zoom:70%;
    }
  }
  @media screen and (max-width: 1199px)
  {
    &.register_PSection, &.login_PSection {
      zoom:70%;
    }
  }
  @media screen and (max-height: 650px)
  {
    &.register_PSection, &.login_PSection {
      zoom:60%;
    }
  }
}


.register_PSection_redirect {
  width: 100%;
  //margin: 9px auto 0 auto;
  color: itemColor(login-redirect-text, #ffffff);
  cursor: default;

  position: absolute;
  left: itemLeft(register-redirect, 508px);
  bottom: itemBottom(register-redirect, 0px);
  font-size: fontSize(register-redirect, 16px);
  text-align: var(--register-redirect-text-align, left);
  display: display(register-redirect, block);

  a {
    text-decoration: var(--login-redirect-href-text-decoration, underline);
    margin-left: marginLeft(login-redirect-href-text, 15px);
    //margin-right: 15px;
    cursor: pointer;
    color: itemColor(login-redirect-href-text, #1376f8);
  }
}

.login_PSection_redirect {
  margin: var(--login-redirect-text-margin, 9px auto 0 auto);
  cursor: default;
  width: width(login-redirect-text, 100%);
  font-size: fontSize(login-redirect-text, 14px);
  color: itemColor(login-redirect-text, #ccc);
  display: var(--modal-login-footer-display, flex);
  justify-content: var(--modal-login-footer-justify-content, space-between);
  padding-left: var(--modal-login-footer-padding-left, 0px);
  padding-right: var(--modal-login-footer-padding-right, 0px);
  padding-top: var(--modal-login-footer-padding-top, 0px);
  position: var(--modal-login-footer-position, relative);
  bottom: var(--modal-login-footer-item-bottom, 0);
  left: var(--modal-login-footer-item-left, 0);
  right: var(--modal-login-footer-item-right, 0);

  a {
    text-decoration: var(--modal-login-footer-text-decoration, underline);
    color: var(--modal-login-footer-text-color, var(--login-redirect-text-color));
    position: var(--modal-login-footer-text-position, relative);
    font-weight: var(--modal-login-footer-text-font-weight, 400);
    margin-left: var(--modal-login-footer-text-margin-left, 15px);
    margin-right: var(--modal-login-footer-text-margin-right, 15px);
    cursor: pointer;

    &:hover {
      color: itemColor(login-redirect-text-hover, #ccc);
    }
  }
  .safety-info{
    width: width(login-safety-info, auto);
    color: itemColor(register-safety-info, #dbedff);
    font-size: fontSize(register-safety-info, 16px);

    &_text{
      display: flex;
      justify-content: center;
      span {
        margin-left: marginLeft(login-safety-text, 8px);
        margin-right: 0;
      }
    }

  }
}
//.mat-mdc-dialog-panel{max-width: none!important;width: 100%;}
.mat-mdc-dialog-container .mdc-dialog__surface  {
  background-color: transparent !important;
  box-shadow: none!important;
  overflow-x: hidden;
}
.cdk-global-overlay-wrapper {
  background-color: var(--modal-dialog-background-color, rgba(0, 0, 0, 0.5)) !important;
  box-shadow: none!important;
}
