.password-recovery-section {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  color: color(header-menu-item-text);
  background-color: backgroundColor(recovery-section, transparent);

  label, h2 {
    color: color(page-form-title);
  }

  &_form {
    width: 612px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    .form_row{margin: 10px 0}

    form {
      width: 60%;
      margin: 20px auto;
      input{color: color(page-form-field-text);}

      label, h2 {
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        width: 100%;
      }
    }
  }
  .registration_complete {
    text-align: center;
    color: $recovery-success-message;
    margin-top: 40px;

    i {
      font-size: 158px;
      color: $recovery-success-check;
    }

    h1 {
      font-size: 23px;
      font-weight: 400;
    }
  }
  &.mobile-device
  {
    label, h2{color:itemColor(m-page-form-title, #FFFFFF)};
    form {
      input{
        color: itemColor(m-page-form-field-text, #fff);
        text-indent: var(--m-page-form-field-text-indent, 16px);
      }
    }
  }
}

@media (max-width: 1200px)
{
  .password-recovery-section
  {
    &_form{width: 100%}
  }
}

.text-align-center {
  text-align: center;
  margin: 0 auto;
  top: 8px;
  white-space: var(--forgot-password-error-validation-white-space, nowrap);
}
.success_message {
  position: relative;
}