.leftTORight {
  direction: ltr;
  .forgot_password {
    position: absolute;
    right: itemRight(forgot-password, 0);
    bottom: itemBottom(forgot-password, unset);
    left: itemLeft(forgot-password, unset);
  }
  .change-password-field-type {
    position: absolute;
    right: var(--change-password-field-icon-right, 12px);
    cursor: pointer;
    display: display(change-password-field-icon, block);
    color: var(--change-password-field-icon-color, var(--login-field-color, #d4d4d4))
  }
}



.rightToLeft {
  direction: rtl;
  .login_PSection_redirect {
    right: var(--modal-login-footer-item-right-left, var(--modal-login-footer-item-left, 0));
    left: auto;
  }
  .login_modal_section .login-title {
    right: var(--login-section-left, auto);
    left: 0;
  }
  .forgot_password {
    position: absolute;
    left: itemRight(forgot-password, 0);
    bottom: itemBottom(forgot-password, unset);
  }
  .change-password-field-type {
    left: 7px;
    position: absolute;
  }
  .change-password_form .form_row label {
    right: var(--change-password-input-label-left, 8px);
    left: auto;
  }
  .icon-close-modal
  {
    right: auto !important;
    left: var(--popup-close-icon-right, 38px) !important;
  }
  .mobile-login-top-part {
    .icon-close-modal {
      left: var(--m-login-close-icon-left, 0);
      right: auto;
    }
  }
  .login-section_field .floating-label {
    right: var(--signin-input-label-left, 0);
    left: auto;
  }
  .login-section_field  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    right: var(--login-field-focus-label-focused-left, -12px);
    left: var(--login-field-focus-label-right-focused-left, auto) !important;
    transform-origin: right !important
  }

}
.login-page {
  display: var(--login-page-display, block);
  gap: var(--login-page-gap, 0);
  .login-left-side-img {
    display: var(--login-left-side-img-display, none);
    width: var(--login-left-side-img-width, auto);
    height: var(--login-left-side-img-height, auto);
    margin: var(--login-left-side-img-margin, 0);
    border-radius: var(--login-left-side-img-border-radius, 0);
    position: var(--login-left-side-img-position, relative);
    background-position: var(--login-left-side-img-background-position, unset);
    background-repeat: var(--login-left-side-img-repeat, no-repeat);
    background-size: var(--login-left-side-img-background-size, cover);
  }
}
.login-logo{
  display: display(login-logo, block);
  margin: 0 auto;
  margin-top: marginTop(login-logo, 37px);
  margin-bottom: marginBottom(login-logo, 24px);
  background-color: backgroundColor(login-logo, unset);
  width: width(login-logo, auto);
  height: height(login-logo, auto);
}
.login-logo-svg {
  display: var(--login-logo-svg-display, none);
  margin-top: marginTop(login-logo, 37px);
  margin-bottom: marginBottom(login-logo, 24px);
  margin-left: marginLeft(login-logo, auto);
  margin-right: marginRight(login-logo, auto);
  background-color: backgroundColor(login-logo, unset);
  width: width(login-logo, auto);
  height: height(login-logo, auto);
}

.login-section {
  display: var(--login-section-display, block);
  align-items: center;
  flex-direction: var(--login-section-direction, unset);
  justify-content: var(--login-section-justify-content, unset);
  padding-left: var(--login-section-padding-left, 0px);
  padding-right: var(--login-section-padding-right, 0px);
  background: var(--login-section-background, transparent);
  .login-title {
    display: var(--show-login-text-display, block);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: itemColor(login-field, #000) !important;
  }

  &.modal_section {
    .form_field:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  form {
    display: flex;
    align-items: center;
    width: var(--login-modal-section-form-width, 100%);
    margin: var(--login-modal-section-form-margin, 0);
    flex-direction: var(--login-modal-section-form-flex-direction, unset);
    gap: var(--login-modal-section-form-gap, 0px);
  }

  .remember-me {
    display: display(remember-me, unset);
    align-items: center;
    margin-top: var(--remember-me-check-margin-top, 20px);

    input {
      display: display(remember-me-checkbox, unset);
      cursor: pointer;
    }

    label.reg-conditions {
      display: display(remember-me-label, unset);
      cursor: pointer;
      font-size: 15px;
      color: color(login-title)
    }

    .forgot_password{
      display: display(forgot-password, unset);
    }
  }
  &_field2 {
    width: 50%;
    .login-section_field {
      width: 100%;
    }
  }
  &_field {
    background: $color-white;
    border-bottom-left-radius: borderBottomLeftRadius(login-field,6px);
    border-bottom-right-radius: borderBottomRightRadius(login-field,6px);
    border-top-left-radius: borderTopLeftRadius(login-field,6px);
    border-top-right-radius: borderTopRightRadius(login-field,6px);
    line-height: unset;
    border-left-style: borderLeftStyle(login-field-border, solid);
    border-right-style: borderRightStyle(login-field-border, solid);
    border-top-style: borderTopStyle(login-field-border, solid);
    border-bottom-style: borderBottomStyle(login-field-border, solid);

    border-left-width: borderLeftWidth(login-field-border, 1px);
    border-right-width: borderRightWidth(login-field-border, 1px);
    border-top-width: borderTopWidth(login-field-border, 1px);
    border-bottom-width: borderBottomWidth(login-field-border, 1px);

    border-left-color: borderLeftColor(login-field-border, #dbedff);
    border-right-color: borderRightColor(login-field-border, #dbedff);
    border-bottom-color: borderBottomColor(login-field-border, #dbedff);
    border-top-color: borderTopColor(login-field-border, #dbedff);
    background: backgroundColor(login-field,transparent);
    padding-left: paddingLeft(login-field, 8px);
    padding-right: paddingRight(login-field, 8px);
    padding-bottom: paddingBottom(login-field, 0);
    //padding: padding(login-field, 0 16px 0 40px);
    width: width(login-field, 100%);
    height: 44px;
    font-size: 14px;
    color: itemColor(login-field,#d4d4d4);
    position: relative;
    display: flex;
    align-items: center;
    input
    {
      height: 100%;
    }
    i {
      font-size: var(--login-field-input-icon-font-size, 18px);
      color: var(--login-field-input-icon-color, #000);
      display: var(--login-field-input-icon-display, block);
    }

    .logo-icon {
      width: 19px;
      height: 19px;
      position: absolute;
      left: 16px;
      top: 13px;
      z-index: 5;
      display: display(logo-icon, block);
    }

    .inputText{
      width: 100%;
      outline: none;
      border:none;
      color: itemColor(login-field,#d4d4d4);
      background: none;
      height: 100%;
      text-indent: var(--login-field-input-icon-text-indent, 8px);
      //&::placeholder{color: itemColor(login-field-placeholder, #fff)!important;}
      &:focus {
        border: 2px solid itemColor(login-field-focus, transparent);
      }
    }

    .floating-label {
      position: absolute;
      pointer-events: none;
      top: itemTop(signin-input-label, 12px);
      left: itemLeft(signin-input-label, 0);
      font-size: fontSize(signin-input-label, 16px);
      background: backgroundColor(signin-input-label, none);
      padding-left: 4px;
      padding-right: 4px;
      color: itemColor(login-field-label,#dbedff);
      font-weight: fontWeight(signin-input-label, normal);
      line-height: 20px;
      transition: transform 200ms, color 200ms;
      transform-origin: 0 50%;
      display: display(signin-input-label, block);
    }
    input:focus ~ label {
      width: width(register-form-field-label, inherit);
      height: height(signup-input-label-focused, 11px);
      background: var(--register-background-color, #FFFFFF);
      color: var(--login-field-focus-label, #fff);
      top: itemTop(signin-input-label, 14px);
      font-size: var(--register-background-color-font-size, 16px);
    }
    input:focus ~ .cut,
    input:not(:placeholder-shown) ~ .cut {
      transform: translateY(8px);
      display: block;
    }
    input:focus ~ .cut {
      display: block;
    }
    input:focus::placeholder {
      opacity: var(--login-input-label-focus-placeholder-opacity, 1);
      color: var(--login-form-field-focus-placeholder-color, var(--login-form-field-placeholder-color)) !important;
    }
    input::placeholder {
      opacity: var(--login-input-label-placeholder-opacity, 0);
    }
    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
      transform: var(--register-input-label-transform, translateY(-25px) translateX(10px) scale(0.75));
      background-color: var(--login-field-focus-label-focused-background-color, var(--register-background-color));
      height: height(signin-label-focused, 20px);
      font-size: var(--register-background-color-font-size-label, 20px);
      color: var(--login-field-focus-label-focused, #fff);
      left: var(--login-field-focus-label-focused-left, -12px);
      width: var(--login-field-focus-label-focused-width, auto);
      display: var(--login-field-focus-label-focused-display, block);
    }

    .login-info-icon {
      display: display(login-section-info, inline-block);
    }

    &.invalid-filed {
      &.email
      {
        border:var(--login-email-border-width, 1px) solid itemColor(login-email-border,#ff4848) !important;
        .floating-label
        {
          color: itemColor(login-email,#ff4848);
        }
        input
        {
          /* &::placeholder
           {
             color: itemColor(login-email-placeholder, #ff4848) !important;
           }*/
        }

      }
      &.password
      {
        border:var(--login-email-border-width, 1px) solid itemColor(login-password-border, #ff4848) !important;
        .floating-label
        {
          color: itemColor(login-password-label, #ff4848);
        }
        input
        {
          /*&::placeholder
          {
            color: itemColor(login-password-placeholder, #ff4848) !important;
          }*/
        }

      }
    }

    &_top {
      position: relative;
    }

    input {
      width: 100%;
      outline: none;
      box-shadow: none;
      padding-left: 10px;
      font-size: var(--surname-input-font-size, 14px);
      text-indent: var(--login-input-field-text-indent, 16px);
      color: var(--text-color, #FFFFFF);
      background: transparent;
      border-radius: var(--login-input-field-border-radius, 6px);
      border: none;
      font-weight: var(--login-input-field-font-weight, 400);
      &:focus {
        border: 2px solid itemColor(login-field-focus, transparent);
      }
    }
  }

  //&.modal_section {
  &.login-section {
    form {
      display: grid;
      text-align: var(--modal-forget-password-text-align, center);

      .form-accept-terms {
        display: var(--signin-form-accept-terms-display, none);
      }
      .line {
        margin: var(--login-page-line-margin, 18px 0);
        display: display(login-page-line, none);
        align-items: center;
        span
        {
          display: inline-block;
          &.left-line, &.right-line
          {
            background: var(--register-line-background-color, linear-gradient(180deg, rgba(194, 229, 255, 0.5) 0%, rgba(139, 173, 198, 0.5) 52.6%, rgba(81, 115, 139, 0.5) 100%));
            width: calc(50% - 10px);
            height: 1px;
          }
          &.text
          {
            font-size: var(--reg-line-or-text-font-size, 10px);
            color: var(--reg-line-or-text-color, #ffffff);
            margin: var(--reg-line-or-text-margin, 0 3px);
          }
        }
      }
      .login-register-part {
        display: var(--login-register-part-display, none);
        flex-direction: var(--login-register-part-flex-direction, row);
        gap: var(--login-register-part-gap, 0px);
        .login-bottom-text {
          color: var(--login-redirect-text-color, #ffffff);
          font-size: var(--register-redirect-font-size, 16px);
          text-align: var(--register-redirect-text-align, left);
          .icon-safety-text {
            margin: var(--logn-redirect-icon-safety-text-margin, 16px 0);
          }
          .icon-safety {
            display: var(--login-redirect-icon-safety-display, block);
          }
        }
        .login-dont-have-account-btn {
          color: var(--login-redirect-btn-color, #ffffff);
          text-align: var(--register-redirect-btn-text-align, left);
          border: var(--register-redirect-btn-border, none);
          border-radius: var(--register-redirect-btn-border-radius, 6px);
          padding: var(--register-redirect-btn-padding, 0px);
          width: var(--register-redirect-btn-width, 100%);
          margin: var(--register-redirect-btn-margin, 0 auto);
          cursor: pointer;
        }
      }
      .form_field {
        margin: var(--login-modal-section-form-field-margin, 25px auto 0 auto);
        .forget-password-text {
          display: display(modal-forget-password-text,none);
          justify-content: justifyContent(modal-forget-password-text, unset);
          margin: var(--modal-forget-password-text-margin, 0);
        }
        input
        {
          &::placeholder{color: itemColor(login-form-field-placeholder, #69696B);}
        }
      }

      .social-login-text{
        text-align: var(--social-login-text-align, center);
        margin-top: marginTop(social-login-text, 60px);
        margin-bottom: marginBottom(social-login-text, 8px);
        //position: absolute;
        //width: 90%;
        //bottom: itemBottom(social-register-text, 105px);
        color: itemColor(social-register-text, #ffffff);
        font-size: fontSize(social-register-text, 14px);
        cursor: var(--social-register-text-cursor, default);
        display: display(social-register-text, block);
      }

      ul{
        //position: absolute;
        //bottom: itemBottom(register-social-icons, 69px);
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: marginBottom(login-social-icons, 0);
        margin-top: marginTop(login-social-icons, 0);

        li{
          height: height(register-social-icons, 28px);
          width: width(register-social-icons, 28px);
          margin-right: marginRight(register-social-icon, 10px);
          background-size: cover;
          background-color: red;
          cursor: pointer;
        }

      }

    }
  }

  .fa-info-circle {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: $info-icon-bg;
  }

  .login_btn {
    padding: 0 26px;
    color: $color-white;
  }


  .forgot_password {
    margin-left: marginLeft(forgot-password-text, 10px);
    margin-right: marginRight(forgot-password-text, 32px);
    margin-top: marginTop(forgot-password-text, 35px);
    margin-bottom: marginBottom(forgot-password-text, 0px);
    cursor: pointer;
    font-size: fontSize(forgot-password-text, 14px);
    font-weight: fontWeight(forgot-password-text, 700);
    color: itemColor(forgot-password-text, #000000);
    text-decoration: var(--forgot-password-text-decoration, underline);
    white-space: nowrap;
    padding-right: paddingRight(modal-content-forget-password, 0);
    width: var(--modal-content-forget-password-width, 106px);
  }

  &.login-section  {
    width: 100%;
    .form_field1 {
      grid-column: span 4;
    }

    .form_field2 {
      grid-column: span 2;
    }

    .form_field3 {
      grid-column: span 1;
    }

    .form_field4 {
      grid-column: span 1;
    }
    .form-grid {
      display: grid;
      margin: var(--login-form-grid-margin, 0 0 20px 0);
      grid-row-gap: var(--login-form-grid-row-gap, 0);
      grid-column-gap: var(--login-form-grid-column-gap, 0);
      grid-template-columns: var(--login-form-grid-template-columns, repeat(4,1fr));
    }
    .form_field {
      width: var(--login-modal-section-form-field-width, 100%);
      height: var(--login-modal-section-form-field-height, 44px);
      margin-top: var(--login-modal-section-form-field-margin-top, 0px);
    }

    form {
      position: relative;
      .form-accept-terms {
        display: var(--signin-form-accept-terms-display, none);
      }
      .forgot_password {
        margin-right: marginRight(modal-forgot-password-text, 32px);
        margin-bottom: marginBottom(modal-forgot-password-text, 0px);
        display: display(modal-forgot-password-text, flex);
      }
      width: var(--login-modal-section-form-width, 100%);
      margin: var(--login-modal-section-form-margin, 0);
      flex-direction: var(--login-modal-section-form-flex-direction, unset);
      gap: var(--login-modal-section-form-gap, 0px);
      .authentication-buttons {
        display: var(--register-authentication-btns-display, none);
        margin: var(--login-authentication-btns-margin, 0);
        background: var(--register-authentication-btns-background, transparent);
        border-radius: var(--register-authentication-btns-border-radius, 20px);
        height: var(--register-authentication-btns-height, 42px);
        padding: var(--register-authentication-btns-padding, 0 3px);
        width: var(--login-authentication-btns-width, auto);
        .authentication-button {
          background: var(--register-authentication-btn-background, transparent);
          color: var(--register-authentication-btn-color, #fff);
          border: var(--register-authentication-btn-border, none);
          height: var(--register-authentication-btn-height, 100%);
          border-radius: var(--register-authentication-btn-border-radius, 20px);
          padding: var(--register-authentication-btn-padding, 0 25px);
          font-size: var(--register-authentication-btn-font-size,  16px);
          cursor: pointer;
        }
        .active {
          background: var(--register-authentication-btn-active-background, #FFB801);
          color: var(--register-authentication-btn-active-color, #000);
        }
      }
    }

    button.login_btn {
      width: var(--login-button-width, 100%);
      background: itemColor(login-button-background, #546AF9);
      color: color(login-button);
      border-radius: var(--login-button-border-radius, 6px);
      height: height(login-button, 44px);
      line-height: height(login-button-line, 44px);
      background-image: backgroundImage(login-button, linear-gradient(to bottom, itemColor(login-btn-gradient-first, #1376f8), itemColor(login-btn-gradient-second, #194074)));
      margin-top: marginTop(login-button, 0px);
      margin-left: marginLeft(login-button, 0px);
      font-weight: var(--login-button-font-weight, 600);
      font-size: var(--reg-btn-font-size, 18px);
      &.not_active{
        pointer-events: none;
        background-image: backgroundImage(next-btn-not-active, linear-gradient(to bottom, #1376f8, #194074));
        opacity: var(--not-active-btn-opacity, 0.6);
        width: width(not-active-btn, 100%);
      }

    }
  }

}


.login-section-forgot_password {
  display: display(login-section-forgot-password, none);
  &:hover
  {
    color: itemColor(forget-password-hover, #1376f8);
  }
}

app-app-confirm {
  .remember-me {
    display: flex !important;
  }
}

.modal-content {
  .login-title{
    font-size: fontSize(login-text, 20px);
    font-weight: fontWeight(login-text, 400);
    color: itemColor(login-text, #ffffff);
    display: var(--login-section-modal-title-display, inline);
    text-align: var(--login-section-modal-title-text-align, left);
    width: width(login-text, auto);
    margin: var(--login-section-margin, 0);
    position: var(--login-section-position, absolute);
    top: itemTop(login-section, 9px);
    left: itemLeft(login-section, auto);
    padding-left: paddingLeft(login-text, 0px);
    padding-right: paddingRight(login-text, 0px);
  }
  .login-title::before {
    content: '';
    position: absolute;
    bottom: var(--login-title-before-bottom, -9px);
    left: var(--login-title-before-left, 0);
    right: var(--login-title-before-right, 0);
    height: var(--login-title-before-height, 0px);
    background: var(--login-title-before-background, transparent);
    box-shadow: var(--login-title-before-box-shadow, none);
  }
  //&.login_PSection {
  //  .login-section.modal_section form .form_field {
  //    &:nth-child(1) {
  //      margin-top: marginTop(login-section-field, 20px);
  //    }
  //
  //    &:nth-child(2) {
  //      margin-top: marginTop(login-section-field-second, 30px);
  //    }
  //  }
  //}
  .login_PSection_redirect a{
    text-decoration: var(--login-redirect-href-text-decoration, underline);
    margin-left: var(--login-redirect-href-text-margin-left, 0px);
    margin-right: var(--login-redirect-href-text-margin-right, 0px);
    cursor: pointer;
    color: var(--login-redirect-href-text-color, #000000);
  }
}
