<div class="mobile-homepage-section">

    @for (fragment of fragments(); track fragment.Id)
    {
        @switch (fragment.Position)
        {
            @case ("ImageBars") {
                <app-mobile-image-bar [attr.id]="fragment.Config.id"
                           [fragmentConfig]="fragment"
                           [style.order]="fragment.Order"
                           [style.margin-bottom.px]="fragment.Config.marginBottom"
                           [style.width]="fragment.Config.width"
                           [style.margin-top.px]="fragment.Config.marginTop"
                           [style.max-width]="fragment.Config.maxWidth">
                </app-mobile-image-bar>
            }
            @case ("Banners"){
                <app-mobile-home-banners [attr.id]="fragment.Config.id"
                                  [fragmentConfig]="fragment"
                                  [style.order]="fragment.Order"
                                  [style.margin-bottom.px]="fragment.Config.marginBottom"
                                  [style.margin-top.px]="fragment.Config.marginTop"
                                  [style.max-width.px]="fragment.Config.maxWidth">
                </app-mobile-home-banners>
            }
            @case ("Characters"){
                @if (!userLogined.isAuthenticated){
                    <mobile-fragment-characters [fragmentConfig]="fragment"
                                         [attr.id]="fragment.Config.id"
                                         [style.order]="fragment.Order"
                                         [style.margin-bottom.px]="fragment.Config.marginBottom"
                                         [style.width]="fragment.Config.width"
                                         [style.height.px]="fragment.Config.height"
                                         [style.margin-top.px]="fragment.Config.marginTop"
                    ></mobile-fragment-characters>
                }

            }
            @case ("WinsWidgets"){
                <winners-widget [fragmentConfig]="fragment"
                                [style.margin-top.px]="fragment.Config.marginTop"
                                [style.order]="fragment.Order">
                </winners-widget>
            }
            @case ("BetsWidgets"){
                <bets-widget [fragmentConfig]="fragment"
                             [style.margin-top.px]="fragment.Config.marginTop"
                             [style.order]="fragment.Order">
                </bets-widget>
            }
            @case ("CasinoSearches"){
                <casino-search-fragment [fragmentConfig]="fragment"
                                        [attr.id]="fragment.Config.id"
                                        [style.margin-bottom.px]="fragment.Config.marginBottom"
                                        [style.width]="fragment.Config.width"
                                        [style.margin-top.px]="fragment.Config.marginTop"
                                        [style.order]="fragment.Order">
                </casino-search-fragment>
            }
            @case ("Iframes"){
                <div [style.order]="fragment.Order" class="frame-fragment" [attr.id]="fragment.Config.id">
                    <div class="title" *ngIf="fragment.Config.titleVisibility" [innerHTML]="fragment.Title | translate | sanitizer: 'html'"></div>
                    <iframe [ngStyle]="fragment.Config.style" [src]="fragment.Href | sanitizer: 'resourceUrl'" (load)="onLoadFrame($event, fragment)"></iframe>
                </div>
            }

             @case ("Jackpots"){
              <mobile-jackpot  [fragmentConfig]="fragment"
                        [style.margin-top.px]="fragment.Config.marginTop"
                        [style.order]="fragment.Order">

              </mobile-jackpot>

          }
        }
    }
</div>
