<div class="title" [innerHTML]="'HomeMenu.' + fragmentConfig.Title | translate | sanitizer: 'html'"></div>
<div class="image-bar {{fragmentConfig?.Config.type}}"
     [ngStyle]="fragmentConfig?.Config.style">
    <div *ngFor="let item of fragmentConfig.Items" [ngStyle]="item.Config?.style">
        <img (click)="navigateByBanner(item.Href)" [src]="item?.Src">
        <div class="image-bar-title" [innerHTML]="item.Title | translate | sanitizer: 'html'"></div>
        <div class="content-html" [innerHTML]="item.Title + '_Content' | translate | sanitizer: 'html'"></div>
    </div>
</div>