@if (leftMenuFragment())
{
    <div class="left-menu-box">
        <div class="left-menu">
            @switch (leftMenuFragment().type)
            {
                @case ("Menus")
                {
                    <casino-menu [style.order]="leftMenuFragment().fragmentData.Order"
                                 [position]="position"
                                 [style.margin-top.px]="leftMenuFragment().fragmentData.Config.marginTop"
                                 [style.max-width.px]="leftMenuFragment().fragmentData.Config.maxWidth"
                                 [fragmentConfig]="leftMenuFragment().fragmentData">
                    </casino-menu>
                }
                @case ("Providers")
                {
                    <casino-providers [style.order]="leftMenuFragment().fragmentData.Order"
                                 [position]="position"
                                 [style.margin-top.px]="leftMenuFragment().fragmentData.Config.marginTop"
                                 [style.max-width.px]="leftMenuFragment().fragmentData.Config.maxWidth"
                                 [fragmentConfig]="leftMenuFragment().fragmentData">
                    </casino-providers>
                }
            }

        </div>
        <div class="content">
            <ng-container [ngTemplateOutlet]="casinoHref"></ng-container>
        </div>
    </div>
}
@else {
    <div class="casino-section recponcive-height flex_column_center">
        <ng-container [ngTemplateOutlet]="casinoHref"></ng-container>
    </div>
}

<ng-template #casinoHref>
    <casino-banners *ngFor="let fragment of fragments?.Banners?.Items"
                    [fragmentConfig]="fragment"
                    [style.order]="fragment.Order"
                    [style.margin-top.px]="fragment.Config.marginTop"
                    [style.max-width.px]="fragment.Config.maxWidth">
    </casino-banners>
    <winners-widget *ngFor="let fragment of fragments?.BetsWidgets?.Items"
                    [fragmentConfig]="fragment"
                    [style.margin-top.px]="fragment.Config.marginTop"
                    [style.order]="fragment.Order">
    </winners-widget>
    <casino-menu *ngFor="let fragment of fragments?.Menus?.Items"
                 [style.order]="fragment.Order"
                 [position]="position"
                 [style.margin-top.px]="fragment.Config.marginTop"
                 [style.max-width.px]="fragment.Config.maxWidth"
                 [fragmentConfig]="fragment">
    </casino-menu>
    <casino-providers *ngFor="let fragment of fragments?.Providers?.Items"
                      [style.order]="fragment.Order"
                      [position]="position"
                      [style.margin-top.px]="fragment.Config.marginTop"
                      [style.max-width.px]="fragment.Config.maxWidth"
                      [fragmentConfig]="fragment">
    </casino-providers>

    <casino-category  *ngFor="let fragment of fragments?.Categories?.Items"
                      class="{{fragment.Config.type}}"
                      [position]="position"
                      [style.margin-top.px]="fragment.Config.marginTop"
                      [style.max-width.px]="fragment.Config.maxWidth"
                      [class.search-view]="stateService.categoriesSearchViewState$ | async"
                      [fragmentConfig]="fragment">
    </casino-category>
    <casino-search *ngFor="let fragment of fragments?.Searches?.Items"
                   [style.margin-top.px]="fragment.Config.marginTop"
                   [style.order]="fragment.Order"
                   [fragmentConfig]="fragment">
    </casino-search>

    <progress-bar  *ngFor="let fragment of fragments?.ProgressBars?.Items"
                   [style.margin-top.px]="fragment.Config.marginTop"
                   [style.order]="fragment.Order"
                   [fragmentConfig]="fragment">
    </progress-bar>

    <character-hierarchy
            *ngFor="let fragment of fragments?.CharacterHierarchies?.Items"
            [style.margin-top.px]="fragment.Config.marginTop"
            [style.order]="fragment.Order"
            [fragmentConfig]="fragment">

    </character-hierarchy>

    <div class="open-lucky-game" (click)="openLuckyGame()"
         *ngIf="fragments?.OpenLuckyGame?.Items?.length">
        <img class="" src="../assets/images/lucky-icon.svg">
        <div class="text">{{'Lucky game' | translate}}</div>
    </div>
</ng-template>
