@if (leftMenuFragment())
{
    <div class="left-menu-box">
        <div class="left-menu">
            @switch (leftMenuFragment().type)
            {
                @case ("Menus")
                {
                    <casino-menu [style.order]="leftMenuFragment().fragmentData.Order"
                                 [position]="position"
                                 [style.margin-top.px]="leftMenuFragment().fragmentData.Config.marginTop"
                                 [style.max-width.px]="leftMenuFragment().fragmentData.Config.maxWidth"
                                 [fragmentConfig]="leftMenuFragment().fragmentData">
                    </casino-menu>
                }
                @case ("Providers")
                {
                    <casino-providers [style.order]="leftMenuFragment().fragmentData.Order"
                                 [position]="position"
                                 [style.margin-top.px]="leftMenuFragment().fragmentData.Config.marginTop"
                                 [style.max-width.px]="leftMenuFragment().fragmentData.Config.maxWidth"
                                 [fragmentConfig]="leftMenuFragment().fragmentData">
                    </casino-providers>
                }
            }

        </div>
        <div class="content">
            <ng-container [ngTemplateOutlet]="casinoHref"></ng-container>
        </div>
    </div>
}
@else {
    <div class="casino-section recponcive-height flex_column_center">
        <ng-container [ngTemplateOutlet]="casinoHref"></ng-container>
    </div>
}

<ng-template #casinoHref>
    @for (fragment of fragments?.Banners?.Items; track fragment.Id)
    {
        <casino-banners [fragmentConfig]="fragment"
                        [style.order]="fragment.Order"
                        [style.margin-top.px]="fragment.Config.marginTop"
                        [style.max-width.px]="fragment.Config.maxWidth">
        </casino-banners>
    }

    @for (fragment of fragments?.BetsWidgets?.Items; track fragment.Id)
    {
        <winners-widget [fragmentConfig]="fragment"
                        [style.margin-top.px]="fragment.Config.marginTop"
                        [style.order]="fragment.Order">
        </winners-widget>
    }

    @for (fragment of fragments?.Menus?.Items; track fragment.Id)
    {
        <casino-menu [style.order]="fragment.Order"
                     [position]="position"
                     [style.margin-top.px]="fragment.Config.marginTop"
                     [style.max-width.px]="fragment.Config.maxWidth"
                     [fragmentConfig]="fragment">
        </casino-menu>
    }

    @for (fragment of fragments?.Providers?.Items; track fragment.Id)
    {
        <casino-providers [style.order]="fragment.Order"
                          [position]="position"
                          [style.margin-top.px]="fragment.Config.marginTop"
                          [style.max-width.px]="fragment.Config.maxWidth"
                          [fragmentConfig]="fragment">
        </casino-providers>
    }

    @for (fragment of fragments?.Categories?.Items; track fragment.Id)
    {
        <casino-category  class="{{fragment.Config.type}}"
                          [position]="position"
                          [style.margin-top.px]="fragment.Config.marginTop"
                          [style.max-width.px]="fragment.Config.maxWidth"
                          [class.search-view]="stateService.categoriesSearchViewState$ | async"
                          [fragmentConfig]="fragment">
        </casino-category>
    }

    @for (fragment of fragments?.Searches?.Items; track fragment.Id)
    {
        <casino-search [style.margin-top.px]="fragment.Config.marginTop"
                       [style.order]="fragment.Order"
                       [fragmentConfig]="fragment">
        </casino-search>
    }
    @for (fragment of fragments?.ProgressBars?.Items; track fragment.Id)
    {
        <progress-bar  [style.margin-top.px]="fragment.Config.marginTop"
                       [style.order]="fragment.Order"
                       [fragmentConfig]="fragment">
        </progress-bar>
    }

    @for (fragment of fragments?.CharacterHierarchies?.Items; track fragment.Id)
    {
        <character-hierarchy
                [style.margin-top.px]="fragment.Config.marginTop"
                [style.order]="fragment.Order"
                [fragmentConfig]="fragment">
        </character-hierarchy>
    }
    @for (fragment of fragments?.Jackpots?.Items; track fragment.Id)
        {
            <jackpot
                    [style.order]="fragment.Order"
                    [fragmentConfig]="fragment">
            </jackpot>
        }

    <div class="open-lucky-game" (click)="openLuckyGame()"
         *ngIf="fragments?.OpenLuckyGame?.Items?.length">
        <img class="" src="../assets/images/lucky-icon.svg">
        <div class="text">{{'Lucky game' | translate}}</div>
    </div>
</ng-template>
