<div class="mobile-account-statement-section">
  <h2 class="account_title">
    {{'User.Your_account' | translate}}
  </h2>

  <div class="mobile-account-statement-section_table">
    <div class="mobile-account-statement-section_row_title">
      <div class="item_cell item_cell_header">
        {{'User.Account' | translate}}
      </div>
      <div class="item_cell item_cell_header">
        {{'User.Balance' | translate}}
      </div>
    </div>
    <div class="mobile-account-statement-section_row" *ngFor="let account of accountData">
      <div class="item_cell item_cell_left"> {{account?.AccountTypeName}}</div>
      <div class="item_cell item_cell_right">
          @if(account?.CurrencyId)
          {
              {{account?.CurrencySymbol}}
              {{account?.FromattedValue}}
              {{!account?.CurrencySymbol ? account?.CurrencyId : ''}}
          }
          @else
          {
              {{account?.FromattedValue}}
          }
      </div>
    </div>
  </div>

</div>

