<div [ngSwitch]="fragmentConfig.Config.type">
    <div *ngSwitchCase="'filter'"
         [ngStyle]="fragmentConfig?.Config.style" class="filter-category-box filter">
        <div class="filter-fragments" *ngIf="hasFilterBox">
            <casino-search *ngFor="let fragment of fragments?.Search?.Items"
                           [fragmentConfig]="fragment">
            </casino-search>
            <casino-menu *ngFor="let fragment of fragments?.Menus?.Items"
                         [fragmentConfig]="fragment">
            </casino-menu>
            <casino-providers *ngFor="let fragment of fragments?.Providers?.Items"
                              [fragmentConfig]="fragment">
            </casino-providers>
        </div>
        <ul class="product_list">
            <li class="product_list_item"
                *ngFor="let game of games;let i = index">
                <casino-game [game]="game"
                             [loadingType]="i > 30 ? 'lazy' : 'eager'"
                             [fragmentConfig]="fragmentConfig"
                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                </casino-game>
            </li>
            <button *ngIf="leftGamesCount" class="more-button" (click)="casinoFilterService.nextPage()">{{'Game.See More' | translate}} <span>({{leftGamesCount}})</span></button>
        </ul>
    </div>
    <div *ngSwitchCase="'horizontal'" class="category"
         [attr.label-position]="fragmentConfig?.Config?.label"
         [attr.show-all-position]="fragmentConfig?.Config?.showAllLabel"
         [ngStyle]="fragmentConfig?.Config.style">
        <header class="header">
            {{'Game.' + fragmentConfig.Title | translate}}
            <div class="show-all-label" *ngIf="fragmentConfig?.Config?.showAllLabel">
                <span class="icon-arrow-to-left" (click)="slider.changeStep(-1)"></span>
                <span class="show-all-label-text" [routerLink]="['/'+ this.position + '/', fragmentConfig.Config.id]">{{'Category.ShowAll' | translate}}</span>
                <span class="icon-arrow-right" (click)="slider.changeStep(1)"></span>
            </div>
        </header>
        <main>
            <div class="games" #slider="slider" horizontal-scroll>
                <casino-game *ngFor="let game of games" [game]="game" [fragmentConfig]="fragmentConfig.Config"
                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                </casino-game>
            </div>
        </main>
        <div *ngIf="fragmentConfig.Config.showAll" [routerLink]="['/'+ this.position + '/', fragmentConfig.Config.id]" (click)="scrollToTop(471)" class="show-all">{{'Category.ShowAll' | translate}}</div>
    </div>
    <div *ngSwitchCase="'search'"
         [ngStyle]="fragmentConfig?.Config.style"
         class="filter-category-box">
        <div class="title-field">
            <div></div>
            <div class="back-section" (click)="backFromSearch()">
                <i class="icon-back"></i>
                <p>{{'Category.back'| translate}}</p>
            </div>
            <div class="filter-title" *ngIf="categoryName">{{'Category.' + categoryName | translate}}</div>
        </div>
        <ul class="product_list">
            <li class="product_list_item"
                *ngFor="let game of games;let i = index">
                <casino-game [game]="game"
                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                </casino-game>
            </li>
            <button *ngIf="leftGamesCount" class="more-button" (click)="casinoFilterService.nextPage()">{{'Game.See More' | translate}} <span>({{leftGamesCount}})</span></button>
        </ul>

    </div>
    <div *ngSwitchCase="'grid'"
         [ngStyle]="fragmentConfig?.Config.style"
         class="filter-category-box category">
        <header class="header">
            {{'Game.' + fragmentConfig.Title | translate}}
        </header>
        <ul class="product_list">
            <li class="product_list_item"
                *ngFor="let game of games;let i = index">
                <casino-game [game]="game"
                             (onOpen)="openGame($event.game?.productId, $event.type, $event.game?.openMode)">
                </casino-game>
            </li>
            <button (click)="scrollToTop(471)" *ngIf="fragmentConfig.Config.showAll" [routerLink]="['/'+ this.position + '/', fragmentConfig.Config.id]" class="more-button" >{{'Category.ShowAll' | translate}}</button>
        </ul>
    </div>
</div>
<div class="scrollTop" (click)="scrollToTop()"><i class="icon-next-arrow"></i></div>

