:host
{
  display: block;
  position: relative;
}
.mobile-settings-section {
  overflow-y: var(--m-profile-details-section-overflow-y, hidden);
  position: var(--m-profile-details-section-position, relative);
}
.settings_header-mobile {
  position: var(--m-profile-submit-details-position, sticky);
  right: var(--m-profile-submit-details-right, 0);
  top: var(--m-profile-submit-details-top, 10px);
  background: var(--m-profile-submit-details-background, var(--account-content-item-bg-color));
  width: var(--m-profile-submit-details-width, 100%);
  padding: var(--m-profile-submit-details-padding, 7px 0);
  z-index: 100;
  .settings_edit {
    width: var(--m-profile-edit-btn-width, 86%);
    margin: var(--m-profile-edit-btn-margin, 0 auto);
    display: var(--m-profile-edit-btn-display, flex);
    justify-content: var(--m-profile-edit-btn-justify-content, flex-end);
    align-items: center;
    .icon-edit {
      margin-right: 13px;
      font-size: calc(var(--settings-submit-details-font-size, 16px) - 2px);
    }
  }
}
.submit-details {
  display: flex;
  gap: var(--m-profile-submit-details-gap, 20px);
  justify-content: var(--settings-submit-details-justify-content, center);
  width: var(--settings-submit-details-width, auto);
  .setting_btn {
    font-size: var(--settings-submit-details-font-size, 16px);
    font-weight: var(--settings-submit-details-font-weight, 500);
    padding: var(--settings-submit-details-padding, 0px 10px);
    height: var(--m-settings-submit-details-height, 44px);
    background: linear-gradient(to bottom, var(--settings-button-gradient-first-color) 0%, var(--settings-button-gradient-second-color) 100%);
    color: var(--settings-button-text-color);
    width: var(--m-profile-submit-details-width, 44%);
    .icon-close-modal {
      margin-right: 13px;
      font-size: calc(var(--settings-submit-details-font-size, 16px) - 2px);
    }
    .fas-save {
      margin-right: 13px;
      font-size: calc(var(--settings-submit-details-font-size, 16px) + 2px);
    }
    &.cancel_btn {
      background: var(--settings-cancel-btn-bg, rgba(13, 18, 32, 0.5));
      color: var(--settings-cancel-btn-color, #fff);
      border: 1px solid var(--settings-cancel-btn-color, #fff);
      .icon-close-modal:before {
        color: var(--settings-cancel-btn-color, #fff);
      }
    }
  }
}
.tab-content-mobile {
  padding: var(--m-profile-settings-form-padding, 110px 0 40px 0);
  height: var(--m-profile-settings-form-height, calc(100vh - 233px));
  overflow-y: var(--m-profile-settings-form-overflow-y, auto);
  overflow-x: hidden;
}
form {
  display: var(--m-profile-settings-form-display, block);
  grid-template-columns: 1fr;
  align-items: center;
  column-gap: var(--m-profile-settings-form-column-gap, 100px);
  position: relative;
  width: var(--m-profile-settings-form-width, 97%);
  margin: var(--m-profile-settings-form-margin, 0);

  .profile-main-container {
    background: var(--m-profile-form-main-container-background, transparent);
    padding: var(--m-profile-form-main-container-padding, 0);
    width: var(--m-profile-form-main-container-width, auto);
    margin: var(--m-profile-form-main-container-margin, 0);
  }
  .active_item {
    pointer-events: unset;
  }

  .disable_item {
    pointer-events: none;
    opacity: .8;
    border-color: var(--m-profile-details-form-disable-input-border-color, #cecece) !important;
  }
  .form_field {
    width: var(--m-settings-profile-form-field-width, 80%);
    margin: var(--m-settings-profile-form-field-margin, 0 auto);
    position: relative;
    .error-field-message
    {
      font-size: var(--settings-profile-font-size, 15px);
      color: red;
      font-weight: var(--settings-profile-font-weight, 700);
      position: absolute;
      bottom: var(--m-settings-profile-error-message-bottom, 0);
      left: var(--m-settings-profile-error-message-left, 0);
      right: var(--m-settings-profile-error-message-right, auto);
    }
    .verify-icons {
      display: var(--m-settings-profile-verify-icons-display, block);
      position: absolute;
      top: 18px;
      right: -29px;
      font-size: 24px;
      cursor: pointer;
      .tooltip {
        display: none;
        position: absolute;
        top: 35px;
        right: -3px;
        .selected {
          color: var(--verify-tooltip-icon-color, #111115);
          width: 0;
          height: 0;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-bottom: 7px solid var(--verify-tooltip-icon-color, #111115);
          position: absolute;
          right: 6px;
          top: -6px;
        }
        .tooltip-text {
          font-size: var(--verify-tooltip-text-font-size, 14px);
          background: var(--verify-tooltip-text-background, #111115);
          color: var(--verify-tooltip-text-color, #fff);
          padding: var(--verify-tooltip-text-padding, 5px 8px);
          border-radius: var(--verify-tooltip-text-border-radius, 6px);
          position: relative;
          z-index: 100;
          white-space: nowrap;
          width: auto;
        }
      }
      &:hover {
        .tooltip {
          display: block;
        }
      }
    }
    .checkbox-field {
      display: var(--settings-field-checkbox-display, flex);
      justify-content: var(--settings-field-checkbox-justify-content, flex-start);
      align-items: center;
      background: var(--settings-field-checkbox-container-background, unset);
      box-shadow: var(--settings-field-checkbox-container-box-shadow, none);
      border-radius: var(--settings-field-checkbox-container-border-radius, 0px);
      padding: var(--settings-field-checkbox-container-padding, 0px);
      height: var(--settings-field-height, 40px);
      margin: var(--settings-form-fields-margin, 10px 0 24px 0);
      span {
        color: var(--settings-field-checkbox-span-color, #fff);
        font-size:var(--m-settings-form-fields-font-size, 14px);
      }
    }
    label {
      color: var(--settings-input-label-color, #fff);
      position: absolute;
      top: var(--m-settings-input-label-top, 19px);
      left: var(--settings-input-label-left, 8px);
      height: var(--m-settings-input-label-height, 1px);
      transform-origin: 0 50%;
      transition: transform 200ms, color 200ms;
      pointer-events: none;
    }
    input:focus ~ label {
      width: var(--settings-input-field-label-width, inherit);
      height: var(--settings-input-label-focused-height, 11px);
      background: var(--settings-background-color, #FFFFFF);
      color: var(--settings-field-focus-label, #fff);
      top: var(--m-settings-label-top, 19px);
      font-size: var(--settings-background-color-font-size, 16px);
    }
    input:focus ~ .cut,
    input:not(:placeholder-shown) ~ .cut {
      transform: translateY(8px);
      display: block;
    }
    input:focus ~ .cut {
      display: block;
    }
    input:focus::placeholder {
      opacity: 1;
    }
    input::placeholder {
      opacity: 0;
    }
    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
      transform: var(--settings-label-transform, translateY(-27px) translateX(10px) scale(0.75));
      background-color: var(--settings-background-color, unset);
      height: var(--settings-label-focused-height, 22px);
      font-size: var(--settings-font-size-label, 16px);
      color: var(--settings-focus-label-focused, #fff);
      text-align: var(--settings-focus-label-focused-text-align, left);
      width: var(--settings-focus-label-focused-width, auto);
      padding-left: var(--settings-padding-left-focus-label-focused, 5px);
      padding-right: var(--settings-padding-right-focus-label-focused, 10px);
    }
    select:focus~label,
    select:not([value=""]):valid~label {
      transform:var(--register-select-label-transform, translateY(-27px) translateX(10px) scale(0.75));
      top: var(--register-focused-select-label-top, 20px);
      font-size: var(register-focused-label-font-size, 16px);
      color: var(--settings-focus-label-focused, #fff);
      background-color: var(--settings-background-color-focus-label-focused, unset);
      padding-left: var(--settings-padding-left-focus-label-focused, 5px);
      padding-right: var(--settings-padding-right-focus-label-focused, 10px);
    }
    input, select {
      &:not(.choose_input) {
        //border: 1px solid $border-color;
        color: var(--settings-field-color, rgba(255, 255, 255, 0.6));
        font-size: var(--settings-field-font-size, 16px);
        text-indent: 0;
        padding-left: 16px;
        border: var(--m-profile-details-form-input-border, none);
        background: var(--m-profile-details-form-input-background, var(--account-content-item-bg-color));
        border-radius: var(--settings-field-border-radius, 6px);
        height: var(--settings-field-height, 40px);
        appearance: var(--open-ticket-appearance, auto);
      }
      border: 1px solid rgba(219, 237, 255, 0.8);
    }
    input[type=checkbox] {
      height: var(--settings-field-checkbox-height, 18px);
      width: var(--settings-field-checkbox-height, 70px);
      margin: var(--settings-field-checkbox-margin, 0);
      padding-left: var(--settings-field-checkbox-padding-left, 0);
      vertical-align: middle;
      appearance: auto;
      cursor: pointer;
    }
    ::placeholder {
      color: var(--settings-field-color, rgba(255, 255, 255, 0.6));
    }
    input, .mobile_verify, >select {
      margin: var(--settings-form-fields-margin, 10px 0 24px 0);
    }
  }
  .required-field
  {
    &:after
    {
      content: "*";
      position: absolute;
      top:-5px;
      right: -6px;
    }
  }
}
.success_message1 {
  bottom: var(--m-success-message-settings-success-bottom, 0px);
  p {
    margin-right: var(--m-success-message-settings-success-margin-right, auto);
  }
}
.rightToLeft {
  .submit-details .setting_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  form {
    .form_field {
      label {
        right: var(--settings-input-label-left, 8px);
        left: auto !important;
        transform-origin: right;
      }
      input:focus ~ label,
      input:not(:placeholder-shown) ~ label {
        text-align: right;
        //transform: var(--settings-label-right-transform, translateY(-27px) translateX(87px) scale(0.75));

      }
      .error-field-message {
        right: 0;
      }
    }
  }

}