// project specific styles
@import 'general/general_dir';
@import 'helpers/fonts';
::-webkit-scrollbar-track { border-radius: 15px; background-color: color(scrollbar-track); }
::-webkit-scrollbar {height: 2px;  width: 2px;  background-color: color(scrollbar-track);  }
::-webkit-scrollbar-thumb:hover { background: color(scrollbar-thumb-hover); }
::-webkit-scrollbar-thumb {  border-radius: 15px;  background-color: color(scrollbar-thumb);  }
/*
  A copy of our modal styles you can use.. its implementers choice what styles they want based on their lib of choice. If you make bootstrap modals, use their styles. Simples.
*/
html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
  background: backgroundColor(m-common,  #FFFFFF);

  overflow-y: auto;
  .sportsbook-content router-outlet+*
  {
    height: auto!important;
    padding-bottom: 50px;
  }
}
.grab{
  cursor: grabbing;
  *{cursor: grabbing!important;}
}
.modal{
  background-color:rgba(0,0,0,.4);
  bottom:0;
  height:100%;
  left:0;
  overflow: var(--modal-overflow, hidden);
  padding: 0 16px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 100; /* Adjust according to your needs */
}

.modal.fade-anim {
  will-change: opacity;
  opacity: 0;
}

.modal.fade-anim.in {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}

.modal-content {
  background-color: var(--all-modal-content-background, #ffffff);
  border-radius: 4px;
  //margin: 16px auto;
  margin: 0 auto;
  max-width: 755px;
  min-width: var(--all-modal-content-min-width, 504px);
  position: relative;
  //margin-top: marginTop(all-modal-content, 145.35px) !important;
  //width: 370px;

  &.User-Info {
    width: width(user-info-modal-content, auto);
  }

  will-change: opacity;
  display: inline-block;
  text-align: left;

  &.rightToLeft
  {
    direction: rtl;
    text-align: right;
    .modal-body
    {
      text-align: left;
      float: left;
      h1{float: right}
    }
    form
    {
      .allFormItems
      {
        .form-row-item
        {
          float:right;
          .reg-conditions
          {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.change_btn{
  width: 210px!important;
  background-color: #0d5694!important;
}

.modal-content-size-m {
  max-width: 992px;
}

.modal-content-size-l {
  max-width: 1200px;
}

.modal-footer,
.modal-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  padding: 0 16px;
}

.modal-header {
  border-bottom:1px solid #cecece;
}
.modal-body {
  padding: 16px;
}
.modal-body, .forgot-password-section_content {
  >.icon-close-modal{
    position: absolute;
    right: 5%;
    top: 3%;
    z-index: 1;
    color: itemColor(popup-close-icon, #fff);
    font-size: fontSize(popup-close-icon,16px);
    display: display(popup-close-icon, block);
  }
}

.modal-footer {
  border-top:1px solid #cecece;
}
.rightToLeft
{
  .filter-category-box .title-field .back-section {
    flex-direction: row-reverse;
    //transform: rotate(180deg);
    margin-right: 0;
  }
  .account-statement-section {
    left: var(--account-info-right, -7px);
    right: auto;
  }
  app-mobile-affiliate {
    .affiliate-section .affiliate-tab .affiliate-tab-inner-title {
      text-align: right !important;
    }
    .affiliate-section label {
      right: var(--affiliate-input-label-left, 8px);
      left: auto !important;
    }
  }
  .affiliate .affiliate-tab-inner-title {
    right: var(--affiliate-tab-inner-title-left, auto);
    left: auto !important;
    text-align: right !important;
  }
  winners-widget {
    header {
      direction: rtl;
      >* {
        &:nth-child(2) {
          margin-right: var(--bets-widget-header-margin-left, 16px);
        }
      }
    }
  }
  .mobile-registration-section
  {
    form
    {
      .form-row-item
      {
        div
        {
          .form_field
          {
            input{text-align: right}
          }
        }
      }
    }
  }
 /* .promotion-content{text-align: right;}*/
  .promotions-section_top{max-width: 1100px;}
  .promotions-section_slider{direction: ltr}
  .form_row{float: none}
  .content_row:last-child {
    padding-left: 0;
    padding-right: 8px;
  }
  .payment-systems__userAccount

  {
    padding-left: 10px;
  }
  .payment-systems__totalItem
  {
    padding-left: 10px;



  }
  .payment-form-field
  {
    padding-left: 10px;
  }
  .header_row__number
  {
    margin-left: 8px;
  }
  .payment-systems__userAccount__name
  {
    float: right;
    flex-direction: row-reverse;
  }
  .payment-systems__userAccount_balance
  {
    float: left;
  }
  .payment-systems__infoText
  {
    text-align: left;
  }
  .payment-systems__totalItem_item{float: left}
  .payment_list_item__info
  {
    margin-right: 12px;
    margin-left: 0;
    text-align: right!important;
  }
  .new-logo-item
  {
    left: -5px;
    right: auto;
  }
  .add-tickets,.add-account
  {
    text-align: left;
  }
  .social-icons
  {
    a:first-child{margin-left: 16px}
  }
  .ticket-small
  {
    .user-info_item_unreadMessagesCount
    {
      right: auto;
      left: 0;
    }
  }
  .casino-layouts
  {
    left:-40px;
    right: auto!important;
  }
  .distans-right
  {
    margin-left: 15px;
    margin-right: 0 !important;
  }
  .user-default-section_top .user-right-panel_top .user-info {
    margin-right: var(--user-info-section-icon-margin-left, auto);
    margin-left: 0;
  }
  .websitePagesContent__content_title{text-align: right}
  .self-limitation-section2 .self-limitation-tab input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    text-align: right;
  }
  .self-limitation-section2 .self-limitation-tab label {
    right: var(--change-password-input-label-left, 8px);
    left: auto;
  }
  .account-verification form .form_row2 .file-button {
    left: var(--account-verification-file-button-right, 4px);
    right: var(--account-verification-file-button-left, auto);
  }
  .account-verification form .form_row2 .choose-document-label {
    right: var(--account-verify-input-label-left, 14px);
  }
  .history-section .history-tools-panel .history-tools select:focus~label,
  select:not([value=""]):valid~label {
    right: var(--history-focused-select-label-left, 0);
  }
  .history-section .block-head div, .history-section .bets-history-block-head div {
    text-align: var(--payments-section-block-head-right-text-align, right);
  }
  .mobile-right-sidebar-section .flex_container .close_sidebar .info-block-top {
    text-align: var(--right-side-bar-top-title-right-text-align, right);
  }
  .birth_date .birth_date_select select:focus~label,
  select:not([value=""]):valid~label {
    right: var(--settings-input-label-left, 8px);
    left: auto !important;
    transform-origin: right !important
  }
  .form_field_large .form_field .current_item .custom-code-icon {
    left: var(--m-custom-send-code-icon-right, 11px);
    right: auto !important;
  }
  .form_field_large .form_field .current_item .custom-code-label {
    transform-origin: right;
    left: auto;
    right: 0;
  }
  .bets-widget-container .title {
    text-align: var(--bets-widget-container-title-right-text-align, right) !important;
  }
  .last-bets-content table thead tr th {
    text-align: var(--bets-widget-container-title-right-text-align, right) !important;
  }
  .last-bets-content table tbody tr td {
    text-align: var(--bets-widget-table-td-right-text-align, right) !important;
  }
  .custom-slick-next {
    right: var(--home-fragment-banner-icon-prev-left, 2%) !important;
  }
  .custom-slick-prev {
    left: var(--home-fragment-banner-icon-next-right, 2%) !important;
  }
}


app-mobile-main
{
  .rightToLeft
  {
    app-mobile-left-sidebar {
      .mobile-left-sidebar-section {
        app-custom-sidebar {
          .ti_navbar {
            .ti_navbar_container {
              direction: rtl;

              .lang_container {
                .default_language_container {
                  .open_language {
                    text-align: left
                  }
                }
              }
            }
          }
        }
      }
    }
    app-mobile-right-sidebar
    {
      direction: rtl;
      .fa-angle-right{transform: rotate(180deg)}
    }
    app-mobile-header
    {
      .mobile-header-section
      {
        .mobile-header-section_topPanel
        {
          .mobile-header-section-content
          {
            .mobile-header-section_topPanel_left
            {
              right: 40px;
              left:auto;
            }
            .user-info
            {
              left:30px;
              right: auto;
              div{direction: ltr}
            }
          }
        }
      }
    }




    app-mobile-user-default
    {
      direction: rtl;
      .distans-right
      {
        margin-left: 15px;
        margin-right: 0;
      }
      .distans-half-right
      {
        margin-left: 8px;
        margin-right: 0;
      }
    }
    app-mobile-tickets,app-mobile-contact-us,app-mobile-faq,app-mobile-privacy,app-mobile-terms,app-mobile-login,app-mobile-signup,app-mobile-header,app-mobile-casino{direction: rtl}
    .fa-angle-right{transform: rotate(180deg)}
    .form-row-item{float: right}
    .mobile-websitePagesContent__content_title{text-align: right}
    .mobile-about-us-section
    {
      .content
      {
        text-align: justify;
        p{text-align: right}
      }
    }
    .mobile-privacy-section
    {
      ul
      {
        li
        {
          h1, p
          {
            text-align: right
          }
        }
      }
    }
    app-mobile-promotion
    {
      .promotion-content{text-align: right;}
    }
    app-mobile-information
    {
      .content{text-align: right}
    }

    .mobile_info{text-align: right}
    .bonus-and-amount{direction: rtl}
    .payment-form-field{direction: rtl; padding-left: 0;}
    .history-tools-panel{direction: rtl}
    .mobile-settings-section{direction: rtl};
    .form_row3{direction: ltr}
    .friends-section{direction: rtl}
    .send-email_top{margin-right: 0; margin-left: 20px}
    .mobile_number_verify__item{direction: ltr; margin-right: 15px; margin-left: unset}
  }

}

app-global-bottom-side-bar {
  z-index: var(--global-bottom-side-bar-zindex, 111);
  position: fixed;
  width: 100%;
  bottom: 0;
}
.grecaptcha-badge {
  bottom: 67px !important;
}
@media (max-width: 599px) {
  .profile-popup {
    --mat-dialog-container-small-max-width:95vw;
  }
}