.login-page-content
{
  max-width: var(--login-page-max-width, 1000px);
  margin: var(--login-page-margin, 0 auto);
  background-color: var(--login-page-background-color, transparent);
  background-image: var(--login-page-background-image, unset);
  background-repeat: var(--login-page-background-repeat, no-repeat);
  background-size: var(--login-page-background-size, contain);
  min-height: var(--login-page-min-height, auto);
  padding: var(--login-page-padding, 0);
  .login-page-full {
    width: var(--login-section-width, 100%);
    margin: var(--login-section-margin, 0);
    border-radius: var(--login-section-border-radius, 0);
    box-shadow: var(--login-section-box-shadow, none);
    .login-page .login-section {
      .login-title-custom {
        font-size: fontSize(login-text-custom, 16px);
        font-weight: fontWeight(login-text-custom, 400);
        color: itemColor(login-text-custom, #ffffff);
        display: var(--login-text-modal-title-custom-display, none);
        text-align: var(--login-text-modal-title-custom-text-align, left);
        width: width(login-text-custom, auto);
        margin: var(--login-text-custom-margin, 0);
        position: var(--login-text-custom-position, absolute);
        top: itemTop(login-text-custom, 0px);
        left: itemLeft(login-text-custom, auto);
        padding-left: paddingLeft(login-text-custom, 0px);
        padding-right: paddingRight(login-text-custom, 0px);
      }
      form  {
        .form_field_checked {
          .forgot_password {
            color: var(--login-page-forgot-password-text-color, var(--forgot-password-text-color));
          }
          .reg-conditions {
            color: var(--login-page-reg-checkbox-items-color, var(--reg-checkbox-items-color, #000))
          }
        }
        .login-register-part {
          .login-dont-have-account-btn {
            color: var(--login-page-redirect-btn-color, var(--login-redirect-btn-color, #ffffff))
          }
        }
      }
    }
  }
}