.login-page
{
  max-width: var(--login-page-max-width, 1000px);
  margin: var(--login-page-margin, 0 auto);
  background-color: var(--login-page-background-color, transparent);
  background-image: var(--login-page-background-image, unset);
  background-repeat: var(--login-page-background-repeat, no-repeat);
  background-size: var(--login-page-background-size, contain);
  min-height: var(--login-page-min-height, auto);
  padding: var(--login-page-padding, 0);
  .login-page-full {
    width: var(--login-section-width, 100%);
    margin: var(--login-section-margin, 0);
    .login-page .login-section {
      form  {
        .form_field_checked {
          .forgot_password {
            color: var(--login-page-forgot-password-text-color, var(--forgot-password-text-color));
          }
          .reg-conditions {
            color: var(--login-page-reg-checkbox-items-color, var(--reg-checkbox-items-color, #000))
          }
        }
        .login-register-part {
          .login-dont-have-account-btn {
            color: var(--login-page-redirect-btn-color, var(--login-redirect-btn-color, #ffffff))
          }
        }
      }
    }
  }
}